@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

body {
  font-family: "Lato";
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.mainblock {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 50px 0px;
}
.mainblock__content {
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
}
.mainblock__content .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.mainblock__text {
  color: #fff;
  position: relative;
  padding: 0px 0px 45px 0px;
  margin: 30px 0px;
}
.mainblock__text::after {
  content: "";
  width: 105px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin: 0px 0px 0px -52.5px;
}
.mainblock__title {
  font-weight: 900;
  font-size: 34px;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 5.43px;
}
.mainblock__subtitle {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 4.15px;
}
.mainblock__footer {
  display: inline-flex;
  flex-direction: column;
}
.mainblock__btn {
  margin: 0px 0px 50px 0px;
}
.mainblock__arrow {
  animation: arrow 2s infinite ease;
  position: relative;
}
.mainblock__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes arrow {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
.btn {
  display: inline-block;
  padding: 0px 42px;
  height: 47px;
  line-height: 45px;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  position: relative;
}
.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.3s ease 0s;
}
.btn_w {
  color: #fff;
  border: 1px solid #fff;
}
.btn_w::after {
  background-color: #fff;
}
.btn span {
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0;
}
.btn:hover.btn_w {
  color: #000;
}
.btn:hover::after {
  transform: scale(1);
}