@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

body {
  font-family: "Lato";
}

html, body {
  min-height: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.mainblock {
  flex: 1 1 auto;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 0px;
}
.mainblock__content {
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
}
.mainblock__content .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.mainblock__text {
  color: #fff;
  position: relative;
  padding: 0px 0px 45px 0px;
  margin: 30px 0px;
}
.mainblock__text::after {
  content: "";
  width: 105px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin: 0px 0px 0px -52.5px;
}
.mainblock__title {
  font-weight: 900;
  font-size: 34px;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 5.43px;
}
.mainblock__subtitle {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 4.15px;
}
.mainblock__footer {
  display: inline-flex;
  flex-direction: column;
}
.mainblock__btn {
  margin: 0px 0px 50px 0px;
}
.mainblock__arrow {
  animation: arrow 2s infinite ease;
  position: relative;
}
.mainblock__img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes arrow {
  0% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0;
  }
}
.btn {
  display: inline-block;
  padding: 0px 42px;
  height: 47px;
  line-height: 45px;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  position: relative;
}
.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.3s ease 0s;
}
.btn_w {
  color: #fff;
  border: 1px solid #fff;
}
.btn_w::after {
  background-color: #fff;
}
.btn span {
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0;
}
.btn:hover.btn_w {
  color: #000;
}
.btn:hover::after {
  transform: scale(1);
}

.content {
  background-color: #fff;
  position: relative;
  z-index: 50;
}

.menu {
  padding: 22px 0;
  border-bottom: 1px solid #f2f2f2;
}
.menu_mb {
  margin: 0px 0px 130px 0px;
}
@media (max-width: 992.98px) {
  .menu_mb {
    margin: 0px 0px 50px 0px;
  }
}
.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.menu__list li {
  margin: 0 25px;
}
@media (max-width: 460px) {
  .menu__list li {
    margin: 10px 20px;
    flex: 0 1 25%;
  }
}
.menu__link {
  color: #3c3c3c;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.3s 0s;
}
.menu__link:hover {
  color: #ada074;
}
.menu__link_act {
  color: #ada074;
}

.about {
  padding: 0px 0px 60px 0px;
}
.about__header-block {
  margin: 0px 0px 65px 0px;
}
.about__body {
  text-align: center;
}
.about__row {
  display: inline-flex;
  margin: 0 -15px;
}
.about__column {
  margin: 0px 0px 30px 0px;
  flex: 0 1 33.333%;
  padding: 0px 15px;
}
.about__item {
  text-align: center;
  max-width: 260px;
}
.about__icon {
  border-radius: 50%;
  border: 1px solid #f2f2f2;
  width: 92px;
  height: 92px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 40px 0px;
}
.about__icon_l img {
  position: relative;
  left: 5px;
}
.about__title {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 3.52px;
  margin: 0px 0px 33px 0px;
}
.about__text {
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
}

.header-block {
  text-align: center;
}
.header-block__title {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 8.95px;
  text-transform: uppercase;
  position: relative;
  padding: 0px 0px 30px 0px;
}
.header-block__title::after {
  content: "";
  width: 81px;
  height: 1px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  margin: 0px 0px 0px -40.5px;
  background-color: #000;
}
.header-block__subtitle {
  padding: 30px 0px 0px 0px;
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  line-height: 25.89px;
  max-width: 700px;
  margin: 0px auto;
}